<div class="container training">
  <div class="row">
    <h3>
    <span>{{titletraining}}</span>
    <span>{{trainingname}}</span>
    </h3>
  </div>
  <div class="row">
    <h4>
        <span>{{trainingat}}</span>
        <span>{{trainingstart}}</span>
        <span style="width: 30%;">&nbsp;</span>
        <span>{{trainingto}}</span>
        <span>{{trainingend}}</span>
    </h4>
  </div>
</div>